<p-dialog [style]="{width: '30vw'}" [breakpoints]="{'1280px': '75vw', '900px': '85vw', '600px': '90vw'}"
          [draggable]="false"
          [(visible)]="createCompanyContactVisible" *ngIf="true" [modal]="true" (onHide)="resetForm()">
  <ng-template pTemplate="header">
    <h2 style="font-weight: bolder" class="mb-3">Kreiranje kontakt osobe</h2>

  </ng-template>
  <p-divider/>
  <div class="create-company-contract-form-container">
    <form (submit)="submitCreateCompanyContact()" [formGroup]="createCompanyContactForm"
          class="create-company-contract-form pt-4 pb-4 gap-4">
      <span class="p-float-label">
        <input pInputText class="w-100" id="firstName" [formControlName]="'firstName'">
        <label for="firstName">Ime</label>
      </span>

      <span class="p-float-label">
        <input pInputText class="w-100" id="lastName" [formControlName]="'lastName'">
        <label for="lastName">Prezime</label>
      </span>

      <span class="p-float-label">
        <input pInputText class="w-100" id="email" [formControlName]="'email'">
        <label for="email">Email</label>
      </span>

      <span class="p-float-label">
        <input pInputText class="w-100" id="phone" [formControlName]="'phone'">
        <label for="phone">Broj telefona</label>
      </span>

      
      <button type="submit" pButton pRipple label="Dodaj" [disabled]="!isFormValid" class="w-100"></button>
    </form>
  </div>
</p-dialog>

