
<p-dialog [style]="{width: '30vw'}" [breakpoints]="{'1280px': '75vw', '900px': '85vw', '600px': '90vw'}"
          [draggable]="false"
          [(visible)]="singleLoanVisible"  *ngIf="true"  [modal]="true" (onHide)="close()">
  <ng-template pTemplate="header">
    <h2 style="font-weight: bolder" class="mb-3">Detalji kredita</h2>

  </ng-template>
  <p-divider/>

  <div class="account-form-container" *ngIf="selectedLoan !== undefined">

    <div class="form-container">
      <div class="row">
        <div class="col-lg-6">
          <small>Broj računa</small>
          <input pInputText [value]="selectedLoan.accountRegNumber" readonly [disabled]=true class="w-100"/>
        </div>
        <div class="col-lg-6">
          <small>Iznos rate</small>
          <input pInputText [value]="selectedLoan.monthlyRate" readonly [disabled]=true class="w-100"/>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <small>Iznos kredita</small>
          <input pInputText [value]="selectedLoan.amount" readonly [disabled]=true class="w-100"/>
        </div>
        <div class="col-lg-6">
          <small>Preostalo dugovanje</small>
          <input pInputText [value]="selectedLoan.remainingAmount" readonly [disabled]=true class="w-100"/>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <small>Period otplate</small>
          <input pInputText [value]="selectedLoan.dueDate" readonly [disabled]=true class="w-100">
        </div>
        <div class="col-lg-6">
          <small>Valuta</small>
          <input  pInputText [value]="selectedLoan.currency" readonly [disabled]=true class="w-100"/>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <small>Kamatna stopa</small>
          <input pInputText [value]="selectedLoan.ratePercentage" readonly [disabled]=true class="w-100">
        </div>
        <div class="col-lg-6">
          <small>Datum kreiranja</small>
          <input  pInputText [value]="selectedLoan.creationDate" readonly [disabled]=true class="w-100"/>
        </div>
      </div>

    </div>

  </div>



</p-dialog>
