/*.center {*/
/*    margin: auto;*/
/*    width: 50%;*/
/*    !* border: 3px solid green; *!*/
/*    padding: 10px;*/
/*}*/
/*.parent{*/
/*    !* background-color: blue; *!*/
/*    margin: auto;*/
/*    width: 50%;*/
/*    !* border: 3px solid green; *!*/
/*    padding: 50px;*/
/*    margin-top: 100px;*/
/*}*/

/*.form-container {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*}*/

/*img {max-width:100%;}*/

.forgot-container {
  padding: 24px 0;
}

.form-container {
  width: 600px;
}

.submit-btn {
  color: #fff;
  padding: 14px 64px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  background-image: linear-gradient(to right, #8b33c5, #15a0e1);
  cursor: pointer;
  transition: opacity 0.4s;
}

.submit-btn:hover {
  opacity: 0.9;
}

/*.flex-container {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  gap: 24px;*/
/*  justify-content: center;*/
/*}*/

/*.test {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: center;*/
/*}*/
