<div class="container mt-5">
  <div class="row align-items-center">
    <div class="col-lg-8 col-md-6 col-sm-12 col-12">
      <img src="assets/icons/forgot-image.svg" alt="My Happy SVG"/>
    </div>
    <div class="col">
      <h1 class="text-center headline">Resetovanje lozinke</h1>
      <h4 class="text-center mb-5">Unesite vašu email adresu:</h4>
      <form (submit)="submit()" [formGroup]="resetPasswordForm">
        <input [formControlName]="'email'" pInputText class="text-center mb-2 w-100" type="text" placeholder="Email">
        <button class="w-100 submit-btn" pButton label="Nastavi"></button>
      </form>
    </div>
  </div>
</div>
