<form [formGroup]="editUserForm" (submit)="updateUser()">
    <div class="mb-3">
        <label for="emailInput" class="form-label">Email</label>
        <input name="email" placeholder="Email" [formControlName]="'email'" [(ngModel)]="user.email" type="email" class="form-control" id="emailInput" required>
    </div>
    <div class="mb-3">
        <label for="passwordInput" class="form-label">Password</label>
        <input [formControlName]="'password'" [(ngModel)]="user.password" type="text" class="form-control" id="passwordInput" required>
    </div>
    <div class="mb-3">
        <label for="firstNameInput" class="form-label">First name</label>
        <input [formControlName]="'firstName'" [(ngModel)]="user.firstName" type="text" class="form-control" id="firstNameInput" aria-describedby="emailHelp" required>
    </div>
    <div class="mb-3">
        <label for="lastNameInput" class="form-label">Last name</label>
        <input [formControlName]="'lastName'" [(ngModel)]="user.lastName" type="text" class="form-control" id="lastNameInput" required>
    </div>
    <div class="mb-3">
        <label for="JMBGInput" class="form-label">JMBG</label>
        <input [formControlName]="'JMBG'" [(ngModel)]="user.JMBG" type="text" class="form-control" id="JMBGInput" required>
    </div>
    <div class="mb-3">
        <label for="positionInput" class="form-label">Postition</label>
        <input [formControlName]="'position'" [(ngModel)]="user.position" type="text" class="form-control" id="positionInput" required>
    </div>
    <div class="mb-3">
        <label for="phoneNumberInput" class="form-label">Phone number</label>
        <input [formControlName]="'phoneNumber'" [(ngModel)]="user.phoneNumber" type="text" class="form-control" id="phoneNumberInput" required>
    </div>
    <div class="form-check">
        <input [formControlName]="'active'" [(ngModel)]="user.active" type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Active</label>
    </div>

    <button type="submit" class="btn btn-primary">Edit</button>
  </form>
