.icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.in-the-money-color {
  background-color: #cdf5cd;
  border-radius: 24%;
  width: 30px;
  height: 30px;
  display: inline-block;
}

.legend-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 160px;
  border: 1px solid #b7b7b7;
  border-radius: 12px;
}
