<div class="body-container">

  <p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>

  <div class="local-acc-form-container text-center">

    <p-tabView>

      <p-tabPanel header="Tekući račun">

        <form class="d-flex flex-column gap-2" (submit)="submitCreateLocalAccount()"
              [formGroup]="createLocalAccountForm">
          <p-dropdown [options]="users" [formControlName]="'user'" optionLabel="email"
                      placeholder="Izaberi postojećeg korisnika"></p-dropdown>

          <small [routerLink]="'/create-local-user-component'" class="mb-3 router-link">Kreiraj novog korisnika</small>

          <p-dropdown [options]="types" [formControlName]="'type'" optionLabel="name"
                      placeholder="Izaberi vrstu računa"></p-dropdown>


          <button type="submit" pButton pRipple label="Potvrdi" [disabled]="!isLocalFormValid"></button>

        </form>

      </p-tabPanel>

      <p-tabPanel header="Devizni račun">

        <form class="d-flex flex-column gap-2" (submit)="submitCreateForeignAccount()"
              [formGroup]="createForeignAccountForm">

          <p-dropdown [options]="users" [formControlName]="'user'" optionLabel="email"
                      placeholder="Izaberi postojećeg korisnika"></p-dropdown>

          <small [routerLink]="'/create-local-user-component'" class="mb-3 router-link">Kreiraj novog korisnika</small>

          <div class="currencies-container mb-4">
            <div class="base-currencies-container">
              <small>Osnovna valuta</small>
              <div *ngFor="let currency of currencies" class="field-checkbox text-start">
                <p-radioButton [value]="currency" [formControlName]="'baseCurrency'"></p-radioButton>
                <label [for]="currency" class="ms-3">{{ currency }}</label>
              </div>
            </div>

            <div class="additional-currencies-container">
              <small>Izabrane valute</small>
              <div *ngFor="let currency of currencies" class="field-checkbox text-start">
                <p-checkbox [name]="currency" [value]="currency" [(ngModel)]="selectedCurrencies"
                            [formControlName]="'additionalCurrencies'"></p-checkbox>
                <label [for]="currency" class="ms-3">{{ currency }}</label>
              </div>
            </div>
          </div>

          <p-dropdown [options]="types" [formControlName]="'type'" optionLabel="name"
                      placeholder="Izaberi vrstu računa"></p-dropdown>


          <button type="submit" pButton pRipple label="Potvrdi" [disabled]="!isForeignFormValid"></button>

        </form>

      </p-tabPanel>

      <p-tabPanel header="Poslovni račun">
        In progress
      </p-tabPanel>

    </p-tabView>

  </div>
</div>
