<div class="body-container">

    <p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>

    <div class="container">

        <h2 class="title text-center">Trgovina</h2>

        <div class="form">
            <div *ngIf=" this.selectedType.name==='FOREX'; else elseBlock">
                <form [formGroup]="buySellForm" (ngSubmit)="onSubmit()">


                    <div class="form-item row">
                        <h3 class="feild-name">hartija vrednosti</h3>
                    </div>


                    <div class="form-item row">
                        <p-dropdown [formControlName]="'type'" [options]="types" [(ngModel)]="selectedType"
                            optionLabel="name"></p-dropdown>
                    </div>

                    <div class="form-item row">
                        <div class="col-2">
                            <p-dropdown [formControlName]="'valuta1'" [options]="iso" optionLabel="name"></p-dropdown>
                        </div>

                        <div class="col-2">
                            <p-dropdown [formControlName]="'valuta2'" [options]="iso" optionLabel="name"></p-dropdown>
                        </div>

                    </div>


                    <div class="form-item row">
                        <div class="col-3">
                            <span class="p-float-label">
                                <p-inputNumber [formControlName]="'kolicina'" inputId="integeronly"></p-inputNumber>
                                <label for="float-input">Kolicina</label>
                            </span>
                        </div>
                    </div>







                    <div class="form-item row">
                        <div class="col-3">
                            <span class="p-float-label">
                                <p-inputNumber [formControlName]="'limit'" inputId="integeronly"></p-inputNumber>
                                <label for="float-input">Limit</label>
                            </span>

                        </div>
                        <div class="col-3">
                            <span class="p-float-label">
                                <p-inputNumber [formControlName]="'stop'" inputId="integeronly"></p-inputNumber>
                                <label for="float-input">Stop</label>
                            </span>
                        </div>
                    </div>



                    <div class="form-item row">

                        <div class="item col-2">
                            <p-checkbox class="radio" [formControlName]="'allornone'" [binary]="true"></p-checkbox>
                            <label>All or none</label>
                        </div>
                    </div>


                    <div class="form-item row text-center">
                        <div class="col">
                            <button type="submit" pButton pRipple label="Naruci" class="w-50"></button>

                        </div>
                    </div>



                </form>

            </div>

            <ng-template #elseBlock>

                <form [formGroup]="buySellForm" (ngSubmit)="onSubmit()">


                    <div class="form-item row">
                        <h3 class="feild-name">hartija vrednosti</h3>
                    </div>


                    <div class="form-item row">
                        <p-dropdown [formControlName]="'type'" [options]="types" [(ngModel)]="selectedType"
                            optionLabel="name"></p-dropdown>
                    </div>

                    <div class="form-item row ">
                        <div class="col-3">
                            <span class="p-float-label">
                                <input [formControlName]="'akcija'" id="float-input" type="text" pInputText>
                                <label for="float-input">Akcija</label>
                            </span>
                        </div>

                    </div>



                    <div class="form-item row">
                        <div class="col-3">

                            <span class="p-float-label">
                                <p-inputNumber [formControlName]="'kolicina'" inputId="integeronly"></p-inputNumber>
                                <label for="float-input">Kolicina</label>
                            </span>
                        </div>

                        <div class="col-3">
                            <p-selectButton [formControlName]="'buysell'" [(ngModel)]="buysell" [options]="stateOptions"
                                optionLabel="label" optionValue="value"></p-selectButton>
                        </div>

                    </div>

                    <div class="form-item row">
                        <div class="col-3">
                            <span class="p-float-label">
                                <p-inputNumber [formControlName]="'limit'" inputId="integeronly"></p-inputNumber>
                                <label for="float-input">Limit</label>
                            </span>

                        </div>
                        <div class="col-3">
                            <span class="p-float-label">
                                <p-inputNumber [formControlName]="'stop'" inputId="integeronly"></p-inputNumber>
                                <label for="float-input">Stop</label>
                            </span>
                        </div>
                    </div>





                    <div class="form-item row">

                        <div class="item col-2">
                            <p-checkbox class="radio" [formControlName]="'allornone'" [binary]="true"></p-checkbox>
                            <label>All or none</label>
                        </div>

                        <div class="item col-2">
                            <p-checkbox class="radio" [formControlName]="'margin'" [binary]="true"></p-checkbox>
                            <label>Margin</label>
                        </div>



                    </div>

                    <div class="form-item row text-center">
                        <div class="col">
                            <button type="submit" pButton pRipple label="Naruci" class="w-50"></button>

                        </div>
                    </div>







                </form>





            </ng-template>


        </div>





        <div class="flex">




        </div>

    </div>