<div class="body-container">
  <p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>
  <div *ngIf="!loading" class="loading-spinner center">
    <div class="spinner"></div>
  </div>
  <div *ngIf="loading">

    <div class="table-container">
      <p-table #dt [value]="users" class="p-datatable-header"
               [rowHover]="true" [rows]="6" [showCurrentPageReport]="true"
               [paginator]="true" [alwaysShowPaginator]="false"
               currentPageReportTemplate="Prikazani su {first}-{last} od ukupno {totalRecords} korisnika"
               [filterDelay]="10" [globalFilterFields]="['firstName','lastName','email','jobPosition','jmbg']">
        <ng-template pTemplate="caption">

          <div class="table-header row">
            <div class="col-4 text-start table-name">
              <h3 style="font-size: medium;">
                Lista korisnika
              </h3>
            </div>

            <div class="col-4 text-center search-container">
              <form action="" class="search-bar" title="Pretrazi">
                <input pInputText name="search" (input)="applyFilterGlobal($event, 'contains')" required/>
                <button class="search-btn" type="submit" title="Pretrazi">
                  <span>Search</span>
                </button>
              </form>
            </div>

            <div class="col-4 text-end">
              <button id="addUserBtn" pButton pRipple styleClass="p-button-sm"
                      class="p-button-raised p-button-secondary add-employee-btn-lg"
                      label="Dodaj zaposlenog" icon="pi pi-plus"
                      style="max-width: 200px; font-size: 14px; background-color: #3d3d3d;"
                      (click)="callAddUserChild()"></button>
              <button pButton pRipple styleClass="p-button-sm" style="background-color: #3d3d3d;"
                      class="p-button-raised p-button-secondary add-employee-btn-sm"
                      icon="pi pi-plus" (click)="callAddUserChild()"></button>
            </div>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id" style="min-width: 5rem; font-size: 12px; ">
              <div class="flex justify-content-between align-items-center">
                <div class="icon-container">
                  <p style="margin-bottom: 0; margin-top: 2px;">ID</p>
                  <p-sortIcon field="id"></p-sortIcon>
                </div>
                <!-- <p-columnFilter type="numeric" field="id" display="menu" class="ml-auto"></p-columnFilter> -->
              </div>
            </th>
            <th pSortableColumn="email" style="min-width: 3rem; font-size: 12px;">
              <div class="flex justify-content-between align-items-center">
                <!-- Email -->
                <div class="icon-container">
                  <p style="margin-bottom: 0; margin-top: 2px;">Email</p>
                  <p-sortIcon field="email"></p-sortIcon>
                  <p-columnFilter id="emailFilter" type="text" field="email" display="menu" class="ml-auto"
                                  matchMode="contains"
                                  [showMatchModes]="false" placeholder="Unesite email" [showOperator]="false"
                                  [showAddButton]="false">
                  </p-columnFilter>
                </div>
                <!-- <p-sortIcon field="email"></p-sortIcon>
                <p-columnFilter id="emailFilter" type="text" field="email" display="menu" class="ml-auto" matchMode="contains"
                                [showMatchModes]="false" placeholder="Unesite email" [showOperator]="false" [showAddButton]="false">
                </p-columnFilter> -->
              </div>
            </th>
            <th pSortableColumn="firstName" style="min-width: 8rem; font-size: 12px; ">
              <div class="flex justify-content-between align-items-center">
                <div class="icon-container">
                  <p style="margin-bottom: 0; margin-top: 2px;">Ime</p>
                  <p-sortIcon field="firstName"></p-sortIcon>
                  <p-columnFilter type="text" field="firstName" display="menu" class="ml-auto" [showMatchModes]="false"
                                  [showOperator]="false" placeholder="Unesite ime"
                                  [showAddButton]="false"></p-columnFilter>
                </div>
              </div>
            </th>
            <th pSortableColumn="lastName" style="min-width: 10rem; font-size: 12px; ">
              <div class="flex justify-content-between align-items-center">
                <div class="icon-container">
                  <p style="margin-bottom: 0; margin-top: 2px;">Prezime</p>
                  <p-sortIcon field="lastName"></p-sortIcon>
                  <p-columnFilter type="text" field="lastName" display="menu" class="ml-auto" [showMatchModes]="false"
                                  [showOperator]="false" placeholder="Unesite prezime"
                                  [showAddButton]="false"></p-columnFilter>
                </div>
              </div>
            </th>
            <th style="min-width: 2rem; font-size: 12px; ">
              <div class="flex justify-content-between align-items-center">
                <p style="margin-bottom: 0; margin-top: 2px;">JMBG</p>
              </div>
            </th>
            <th pSortableColumn="jobPosition" style="min-width: 10rem; font-size: 12px; ">
              <div class="flex justify-content-between align-items-center">
                <div class="icon-container">
                  <p style="margin-bottom: 0; margin-top: 2px;">Pozicija</p>
                  <!-- Pozicija -->
                  <p-sortIcon field="jobPosition"></p-sortIcon>
                  <p-columnFilter field="jobPosition" matchMode="equals" [showMatchModes]="false" [showOperator]="false"
                                  [showAddButton]="false" display="menu" class="ml-auto">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                      <p-dropdown [ngModel]="value" [options]="roles" (onChange)="filter($event.value)"
                                  placeholder="Izaberi poziciju">
                        <ng-template let-option pTemplate="item">
                          <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </ng-template>
                  </p-columnFilter>
                  <!-- <p-columnFilter type="text" field="position" display="menu" class="ml-auto"  matchMode="contains" [showMatchModes]="false" [showOperator]="false"[showAddButton]="false"></p-columnFilter> -->
                </div>
              </div>
            </th>
            <th pSortableColumn="dailyLimit" style="min-width: 10rem; font-size: 12px; ">
              <div class="flex justify-content-between align-items-center">
                <div class="icon-container">
                  <p style="margin-bottom: 0; margin-top: 2px;">Limit</p>
                  <!--                   Limit-->
                  <p-sortIcon field="dailyLimit"></p-sortIcon>
                  <!-- <p-columnFilter type="text" field="position" display="menu" class="ml-auto"  matchMode="contains" [showMatchModes]="false" [showOperator]="false"[showAddButton]="false"></p-columnFilter> -->
                </div>
              </div>
            </th>
            <th style="max-width: 10rem; font-size: 12px;">
              <div class="flex justify-content-between align-items-center">
                <p style="margin-bottom: 0; margin-top: 2px;">Broj telefona</p>
              </div>
            </th>
            <th style="min-width: 2rem; font-size: 12px;">
              <div class="flex justify-content-between align-items-center">
                <p style="margin-bottom: 0; margin-top: 2px;">Aktivan</p>
              </div>
            </th>
            <th style="min-width: 10rem; font-size: 12px; ">
              <div class="flex justify-content-between align-items-center">
                <p style="margin-bottom: 0; margin-top: 2px;">Ostale opcije</p>
              </div>
            </th>


            <!-- <th>ID</th> -->
            <!-- <th>Email</th> -->
            <!-- <th>Ime i prezime</th> -->
            <!-- <th>JMBG</th> -->
            <!-- <th>Pozicija</th> -->
            <!-- <th>Broj telefona</th> -->
            <!-- <th>Aktivan</th> -->
            <!-- <th>Ostale opcije</th> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr style="font-size: 12px;">
            <td>{{user.id}}</td>
            <td>{{user.email}}</td>
            <!-- <td>{{user.first_name }} {{user.last_name}}</td> -->
            <td>
              <span class="p-column-title">firstName</span>
              <span>{{user.firstName}}</span>
              <!-- <span>{{user.first_name + ' ' + user.last_name}}</span> -->
            </td>
            <td>
              <span class="p-column-title">lastName</span>
              <span>{{user.lastName}}</span>
            </td>
            <!-- <td>{{user.last_name}}</td> -->
            <td>{{user.jmbg}}</td>
            <td>
              <span class="p-column-title">jobPosition</span>
              <span>{{user.jobPosition}}</span>
            </td>
            <td>{{user.dailyLimit}}</td>
            <td>{{user.phone}}</td>
            <!-- <td>{{user.aktivan}}</td> -->
            <td>
              <span class="p-column-title">active</span>
              <span>{{user.active | activityPipe}}</span>
              <!-- <span [class]='customer-badge status-unqualified'>{{user.aktivan}}</span> -->
            </td>
            <td [id]="'buttons' + user.id">

              <button [id]="'editBtn' + user.id" type="button" (click)="callEditUserChild(user.id)"
                      class="btn-i btn-circle" title="Izmeni korisnika">
                <span>
                  <i class="pi pi-user-edit"></i>
                </span>
                <div class="wave"></div>
              </button>

              <button [id]="'deactivateBtn' + user.id" type="button" *ngIf="user.active"
                      (click)="deactivateUser(user.id)" class="btn-i btn-circle" title="Deaktiviraj korisnika">
                <span>
                  <i class="pi pi-lock"></i>
                </span>
                <div class="wave"></div>
              </button>

              <button [id]="'activateBtn' + user.id" *ngIf="!user.active" type="button" (click)="activateUser(user.id)"
                      class="btn-i btn-circle" title="Aktiviraj korisnika">
                <span>
                  <i class="pi pi-lock-open"></i>
                </span>
                <div class="wave"></div>
              </button>

              <button [id]="'deleteBtn' + user.id" type="button" (click)="openDeleteConfirmationDialog(user.id)"
                      class="btn-i btn-circle" title="Obrisi korisnika">
                <span>
                  <i class="pi pi-trash"></i>
                </span>
                <div class="wave"></div>
              </button>


              <!--
                            <button [id]="'editBtn' + user.id" pButton (click)="callEditUserChild(user.id)" label="Izmeni" type="button" class="p-button-raised p-button-rounded p-button-sm" style="max-height:2rem; max-width: 4.4rem; font-size:10px; margin-left: 3px; margin-top: 3px;"></button>

                            <button [id]="'deactivateBtn' + user.id" (click)="deactivateUser(user.id)" pButton type="button" *ngIf="user.active" label="Deaktiviraj" class="p-button-danger p-button-rounded p-button-sm" style="max-height:2rem; max-width: 5.6625rem; font-size:10px; margin-left: 3px;  margin-top: 3px" ></button>

                            <button [id]="'activateBtn' + user.id" (click)="activateUser(user.id)" *ngIf="!user.active" pButton type="button" label="Aktiviraj" class="p-button-success p-button-rounded p-button-sm" style="max-height:2rem; max-width: 5.6625rem; font-size:10px; margin-left: 3px;  margin-top: 3px" ></button>

                            <button [id]="'deleteBtn' + user.id" (click)="openDeleteConfirmationDialog(user.id)" pButton type="button" icon="pi pi-trash" class="p-button-danger p-button-rounded p-button-sm" label="Obrisi" style="max-height:2rem; max-width: 5.6625rem; font-size:10px; margin-left: 3px; text-align: center;  margin-top: 3px" ></button> -->

            </td>
          </tr>
        </ng-template>
        <!-- <ng-template let-item pTemplate="paginatordropdownitem">
            {{item.value}} - per page asas
        </ng-template> -->
      </p-table>
    </div>
  </div>
</div>

<!-- Dialog da li ste sigurni -->

<p-dialog class="conformation-dialog" [style]="{width: '20vw'}" [breakpoints]="{'1280px': '50vw'}"
          header="Brisanje" (onHide)="closeDeleteConfirmationDialog()" [(visible)]="displayConfirmationDialog"
          [modal]="true">

  <div class="row">
    <div class="col-12 text-center mt-1 mb-4">
      <i class="pi pi-trash" style="font-size: 6rem; color: red"></i>
    </div>
    <div class="col-12 text-center mb-2">
      <p>Da li ste sigurni da želite da obrišete ovog korisnika?</p>
    </div>
    <div class="col-6 text-end">
      <button pButton pRipple class="p-button-secondary" label="Odustani"
              (click)="closeDeleteConfirmationDialog()"></button>
    </div>
    <div class="col-6 text-start">
      <button pButton pRipple class="p-button-danger" label="Obriši" (click)="deleteUser()"></button>
    </div>
  </div>
</p-dialog>

<app-edit-user (editUserEvent)="editUser($event)"></app-edit-user>
<app-add-user (newUserEvent)="addUser($event)"></app-add-user>

