<div class="body-container">

  <p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>

  <div class="table-container">
    <p-table #dt  [value]="stocks" class="p-datatable-header"
             [rowHover]="true" [rows]="6" [showCurrentPageReport]="true"
             [paginator]="true" [alwaysShowPaginator]="false"
             [loading]="loading" [loadingIcon]="''"
             currentPageReportTemplate="Prikazani su {first}-{last} od ukupno {totalRecords} hartija"
             [globalFilterFields]="['symbol']"
             >
      <ng-template pTemplate="caption">

        <div class="table-header row">
          <div class="col-6 col-lg-6 col-md-6 text-start table-name">
            <div style="display:flex; align-items: center; gap: 8px;">
              <h3 class="berza-mojeakcije-text">
                Akcije
              </h3>
              <button class="ms-3 mb-1" pButton pRipple style="background-color: #3d3d3d; cursor: pointer;"
                [routerLink]="'/stocks-table/sell'" label="Moje akcije"></button>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-6 text-end">
            <form action="" title="Dodaj akciju">
              <div class="add-stock-container">
                <input pInputText class="me-1" name="add" placeholder="Unesite simbol akcije" [(ngModel)]="symbolInput"
                       required/>
                <button pButton pRipple style="background-color: #3d3d3d; cursor: pointer;" icon="pi pi-plus"
                        (click)="getStockBySymbol(symbolInput)"></button>
              </div>
            </form>
          </div>

        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="symbol" style="font-size: 12px;">
            <div class="flex justify-content-between align-items-center">
              <div class="icon-container">
                <p style="margin-bottom: 0; margin-top: 2px;">Oznaka</p>
                <p-sortIcon field="symbol"></p-sortIcon>
                <p-columnFilter id="symbolFilter" type="text" field="symbol" display="menu" class="ml-auto"
                                matchMode="contains"
                                [showMatchModes]="false" placeholder="Unesite oznaku" [showOperator]="false"
                                [showAddButton]="false"></p-columnFilter>
              </div>
            </div>
          </th>
          <th pSortableColumn="priceValue" style="font-size: 12px;">
            <div class="flex justify-content-between align-items-center">
              <div class="icon-container">
                <p style="margin-bottom: 0; margin-top: 2px;">Cena</p>
                <p-sortIcon field="priceValue"></p-sortIcon>
              </div>
            </div>
          </th>
          <th pSortableColumn="volumeValue" style="font-size: 12px; ">
            <div class="flex justify-content-between align-items-center">
              <div class="icon-container">
                <p style="margin-bottom: 0; margin-top: 2px;">Volume</p>
                <p-sortIcon field="volumeValue"></p-sortIcon>
              </div>
            </div>
          </th>
          <th pSortableColumn="changeValue" style="font-size: 12px; ">
            <div class="flex justify-content-between align-items-center">
              <div class="icon-container">
                <p style="margin-bottom: 0; margin-top: 2px;">Promena</p>
                <p-sortIcon field="changeValue"></p-sortIcon>
              </div>
            </div>
          </th>
          <th style="font-size: 12px; ">
            <div class="flex justify-content-between align-items-center">
              <div class="icon-container">
                <p style="margin-bottom: 0; margin-top: 2px;">Promena u procentima</p>
              </div>
            </div>
          </th>
          <th pSortableColumn="lastUpdated" style="font-size: 12px; ">
            <div class="flex justify-content-between align-items-center">
              <div class="icon-container">
                <p style="margin-bottom: 0; margin-top: 2px;">Poslednje ažuriranje</p>
                <p-sortIcon field="lastUpdated"></p-sortIcon>
              </div>
            </div>
          </th>
          <th style="font-size: 12px; ">
            <div class="flex justify-content-between align-items-center">
              <div class="icon-container">
                <p style="margin-bottom: 0; margin-top: 2px;">Kupi</p>
              </div>
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="loadingbody">
        <tr>
           <td><p-skeleton width="3rem"></p-skeleton></td>
           <td><p-skeleton width="3rem" styleClass="mb-2"></p-skeleton></td>
           <td><p-skeleton width="3rem" styleClass="mb-2"></p-skeleton></td>
           <td><p-skeleton width="4rem" styleClass="mb-2"></p-skeleton></td>
           <td><p-skeleton width="4rem" styleClass="mb-2"></p-skeleton></td>
           <td><p-skeleton styleClass="mb-2"></p-skeleton></td>
           <td><p-skeleton width="3rem" styleClass="mb-2"></p-skeleton></td>
        </tr>
        <tr>
          <td><p-skeleton width="3rem"></p-skeleton></td>
          <td><p-skeleton width="3rem" styleClass="mb-2"></p-skeleton></td>
          <td><p-skeleton width="3rem" styleClass="mb-2"></p-skeleton></td>
          <td><p-skeleton width="4rem" styleClass="mb-2"></p-skeleton></td>
          <td><p-skeleton width="4rem" styleClass="mb-2"></p-skeleton></td>
          <td><p-skeleton styleClass="mb-2"></p-skeleton></td>
          <td><p-skeleton width="3rem" styleClass="mb-2"></p-skeleton></td>
        </tr>
        <tr>
          <td><p-skeleton width="3rem"></p-skeleton></td>
          <td><p-skeleton width="3rem" styleClass="mb-2"></p-skeleton></td>
          <td><p-skeleton width="3rem" styleClass="mb-2"></p-skeleton></td>
          <td><p-skeleton width="4rem" styleClass="mb-2"></p-skeleton></td>
          <td><p-skeleton width="4rem" styleClass="mb-2"></p-skeleton></td>
          <td><p-skeleton styleClass="mb-2"></p-skeleton></td>
          <td><p-skeleton width="3rem" styleClass="mb-2"></p-skeleton></td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <!-- TODO centrirati ovo u tabelu -->
          <td [attr.colspan]="7">
            <div class="text-center">
              <span>Nema podataka za prikazivanje</span>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-stock>
        <tr class="rowHover" (click)="openMoreInfoDialog(stock)" style="font-size: 12px;">
          <td>{{stock.symbol}}</td>
          <td>{{"$" + stock.priceValue}}</td>
          <td>
            <span class="p-column-title">firstName</span>
            <span>{{formatNumber(stock.volumeValue)}}</span>
          </td>
          <td [ngStyle]="{'color': stock.changeValue >=0? 'green' : 'red'}">
            <div class="arrow-text-container">
              <div>
                <i class="me-1"
                   [ngClass]="stock.changeValue >=0 ? 'pi pi-arrow-up' : 'pi pi-arrow-down' "></i>
              </div>
              <div>
                <strong>
                  {{stock.changeValue}}
                </strong>
              </div>
            </div>
          </td>
          <td [ngStyle]="{'color': stock.changeValue >=0? 'green' : 'red'}">
            <div class="arrow-text-container">
              <div>
                <i class="me-1"
                   [ngClass]="stock.changeValue >=0 ? 'pi pi-arrow-up' : 'pi pi-arrow-down' "></i>
              </div>
              <div>
                <strong>
                  {{stock.changePercent }}
                </strong>
              </div>
            </div>
          </td>
          <td>
            <span class="p-column-title">jobPosition</span>
            <span>{{stock.lastUpdated | date:'dd.MM.YYYY HH:mm' }} </span>
          </td>
          <td>
            <button type="button" (click)="toggleBuyStockDialog($event,stock)"
                      class="btn-i btn-circle" title="Kupi hartiju">
                <span>
                  <i class="bi bi-cart" style="font-size: 20px;"></i>
                </span>
                <div class="wave"></div>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<app-stock-details></app-stock-details>
<app-buy-stock (stockBuyEmitter)="refreshBuy($event)"></app-buy-stock>


