@font-face {
  font-family: 'Montserrat';
  src: url('../../../../assets/fonts/Montserrat.ttf');
}



.background {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, serif;
  color: #303433;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: url(../../../../assets/home-final.png) no-repeat;
  background-size: 100% 100%;
}

.card {
  width: 100%;
  height: 100%;
  background-color: rgba(255,169,1, 0.1);
  border: 1px solid #ccc;
  border-radius: 25px;
  /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
  padding: 20px;
}

h5,h4 {
  margin-top: 0;
  font-size: 1.2em;
  font-weight: bold;
}


section {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.side {
  /*background: url(../../../../assets/home.png) no-repeat;*/
  /*background-size: 100% 102%;*/
  /*rotate: 180deg;*/
}

.side img {
  max-width: 40%;
  height: auto;
  /*rotate: 180deg;*/
}

.welcome-container {
  max-width: 650px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 150px;
}

.title {
  text-transform: uppercase;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}

.separator {
  width: 300px;
  height: 4px;
  background-color: #843bc7;
  margin: 20px;
}

.separator-small {
  width: 150px;
  height: 2px;
  background-color: #843bc7;
  margin: 12px;
}

.welcome-message {
  text-align: center;
  font-size: 1.1em;
  line-height: 28px;
  margin-bottom: 10px;
  color: #1d1c1c;
}

.outro-message {
  text-align: center;
  font-size: 1.3em;
  line-height: 28px;
  margin-bottom: 10px;
  color: #1a1818;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 1.1em;
}

button.submit {
  color: #fff;
  padding: 14px 32px;
  margin: 32px auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  background-image: linear-gradient(to right, #8b33c5, #15a0e1);
  cursor: pointer;
  transition: opacity 0.4s;
}

button.submit:hover {
  opacity: 0.9;
}

.login-image {
  width: 40%;
  height: auto;
}

.pointer{
  cursor: pointer
}

/* ----  Responsiveness   ----  */
@media only screen and (max-width: 899px) {

  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .side {
    display: none!important;
  }

  .background {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: url(../../../../assets/homemobile.png) no-repeat;
    background-size: 100% 100%;
  }

  .welcome-container {
    max-width: 650px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
  }

}

