
<!-- <div class="background">
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <input type="text" placeholder="Name" />
            <input type="email" placeholder="Email" />
            <input type="password" placeholder="Password" />
            <button>Sign Up</button>
        </div>
        <div class="form-container sign-up-container">
            <input type="email" placeholder="Email" />
            <input type="password" placeholder="Password" />
            <button>Sign in</button>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <section class="side">
                        <img class="login-image" src="../../../assets/icons/blogo.png" alt="">
                    </section>
                    <button class="ghost" (click)="changeSignIn()" id="signIn">Sign Up</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <section class="side">
                        <img class="login-image" src="../../../assets/icons/blogo.png" alt="">
                    </section>
                    <button class="ghost" (click)="changeSignUp()" id="signUp">Sign In</button>
                </div>
            </div>
        </div>
    </div>
</div> -->
  
<div class="background">
	<div class="container" id="container">
		<div class="form-container sign-up-container">
			<form action="#">
				<h1>Kreirajte nalog</h1>
				<span>Unesite podatke</span>
				<input type="text" placeholder="Ime" />
				<input type="email" placeholder="Email" />
				<input type="password" placeholder="Sifra" />
				<button>Sledeci korak</button>
			</form>
		</div>
		<div class="form-container sign-in-container">
			<form action="#">
				<h1>Login forma</h1>
				<input type="email" placeholder="Email" />
				<input type="password" placeholder="Sifra" />
				<button>Login in</button>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>Dobrodosli nazad!</h1>
					<section class="side">
                        <img class="login-image" src="../../../assets/icons/blogo.png" alt="">
                    </section>
					<p>Ako vec imate nalog predjite</p>
					<button class="ghost" (click)="changeSignIn()" id="signIn">Uloguj se</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>Zdravo!</h1>
					<section class="side">
                        <img class="login-image" src="../../../assets/icons/blogo.png" alt="">
                    </section>
					<p>Ako nemate kreiran nalog</p>
					<button class="ghost" (click)="changeSignUp()" id="signUp">Kreiraj nalog</button>
				</div>
			</div>
		</div>
	</div>
</div>