.container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }


.row{
    margin-top: 20px;
    text-align: center;
}

.input-field{
    margin-top: 20px;
}