<div class="background">
  <div class="container">
    <div class="card p-5 shadow text-center">
      <div class="image-container mx-auto mt-2 mb-5">
        <i class="pi pi-user mt-3 mt-4 text-white" style="font-size: 6rem"></i>
      </div>
      <form [formGroup]="loginForm" (submit)="login()">
        <div class="mb-3">
          <span class="p-input-icon-left w-100">
            <i class="pi pi-user"></i>
            <input class="w-100" [formControlName]="'email'" type="email" pInputText required placeholder="Email">
          </span>
        </div>
        <div class="mb-3">
          <span class="p-input-icon-left w-100">
            <i class="pi pi-key"></i>
            <input class="w-100" [formControlName]="'password'" type="password" pInputText required placeholder="Password">
          </span>
        </div>
        <div class="row">
          <div class="col-12">
            <button pButton pRipple label="LOGIN" class="w-100"></button>
          </div>
        </div>
      </form>
      <div class="row mt-3">
        <div class="col-6 text-start">
          <p-checkbox class="me-2" [binary]="true" inputId="binary"></p-checkbox>
          <small>Remember Me</small>
        </div>
        <div class="col-6 text-end">
          <small>Forgot Password?</small>
        </div>
      </div>
    </div>
  </div>
</div>


