<div class="container mt-5">
  <div class="card p-5 w-50 shadow">
    <form [formGroup]="loginForm">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input [formControlName]="'email'" type="email" class="form-control" id="exampleInputEmail1"
               aria-describedby="emailHelp" required>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input [formControlName]="'password'" type="password" class="form-control" id="exampleInputPassword1" required>
      </div>
      <div class="text-center">
        <p-button label="Login"></p-button>
      </div>
    </form>
  </div>
</div>


