<p-dialog [style]="{width: '30vw'}" [breakpoints]="{'1280px': '75vw', '900px': '85vw', '600px': '90vw'}"
          [draggable]="false"
          [(visible)]="account" *ngIf="account!=null" [modal]="true" (onHide)="resetForm()">
  <ng-template pTemplate="header">
    <h2 style="font-weight: bolder" class="mb-3">Izmeni račun</h2>

  </ng-template>
  <p-divider/>

  <div class="account-form-container">
    <form (submit)="submitEditCompanyAccount()" [formGroup]="editCompanyAccountForm"
          class="account-form pt-4 pb-4 gap-4">

      <span class="p-float-label">
        <input pInputText class="w-100" id="currency" [formControlName]="'currency'">
        <label for="currency">{{account?.currency?.currencyCode}}</label>
      </span>

      <span class="p-float-label">
        <input pInputText class="w-100" id="account-number-input" [formControlName]="'accountNumber'">
        <label for="account-number-input">{{account?.accountNumber}}</label>
      </span>

      <span class="p-float-label">
        <input pInputText class="w-100" id="bank-input" [formControlName]="'bank'">
        <label for="bank-input">{{account?.bank}}</label>
      </span> 
      
     <button type="submit" pButton pRipple label="Izmeni" [disabled]="false" class="w-100"></button>
    </form>
  </div>

  
</p-dialog>

