<p-dialog [style]="{width: '55vw'}" [breakpoints]="{'1280px': '75vw', '900px': '85vw', '600px': '90vw'}" [draggable]="false"
          [(visible)]="sellStockVisible" *ngIf="true" [modal]="true">

  <ng-template pTemplate="header">
    <!--  TODO:povuci iz stock modela ticker-->
    <h2 style="font-weight: bolder" class="mb-1">Prodaja hartije AAPL</h2>
  </ng-template>
  <p-divider/>
  <div class="container text-center">
    <div class="row">
      <form (submit)="submitSellStock()" [formGroup]="sellStockForm">
        <div class="col-lg-12">
          <p-inputNumber placeholder="Količina" [formControlName]="'kolicina'" inputId="integeronly"></p-inputNumber>
        </div>
        <div class="col-lg-12">
          <p-inputNumber placeholder="Limit" [formControlName]="'limit'" inputId="integeronly"></p-inputNumber>
        </div>
        <div class="col-lg-12">
          <p-inputNumber placeholder="Stop" [formControlName]="'stop'" inputId="integeronly"></p-inputNumber>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <p-checkbox [formControlName]="'allOrNone'" class="me-2" [binary]="true" inputId="binary"></p-checkbox>
          </div>
          <div class="col-lg-6">
            <p-checkbox [formControlName]="'margin'" class="me-2" [binary]="true" inputId="binary"></p-checkbox>
          </div>
        </div>
        <div class="col-lg-12">
          <button pButton pRipple label="Prodaj"></button>
        </div>
      </form>
    </div>
  </div>
</p-dialog>
