<div class="container mx-auto d-flex justify-content-center mt-5">
  <form class="d-flex flex-column w-25" [formGroup]="resetPasswordForm" (submit)="onSubmitForm()">
    <h3 class="text-center mb-5">Odaberite novu lozinku:</h3>
    <input pInputText [formControlName]="'password'" placeholder="Lozinka" type="password" class="mb-2">
    <input pInputText [formControlName]="'password2'" placeholder="Ponovite lozinku" type="password" class="mb-2">
    <button [disabled]="!isFormValid" pButton pRipple type="submit">Promeni lozinku</button>
  </form>
</div>
