<p-dialog [style]="{width: '30vw'}" [breakpoints]="{'1280px': '75vw', '900px': '85vw', '600px': '90vw'}"
          [draggable]="false"
          [(visible)]="singleUserBalance" [modal]="true">
  <ng-template pTemplate="header">
    <h2 style="font-weight: bolder" class="mb-3">Detalji računa</h2>

  </ng-template>
  <p-divider/>

  <div class="account-form-container">

      <div class="form-container">
        <div class="row">
          <!-- <div class="col-lg-6">
            <small>Naziv</small>
            <input pInputText [disabled]=true class="w-100"/>
          </div> -->
          <div class="col-lg-6">
            <small>Vlasnik</small>
            <input pInputText [value]="name" readonly [disabled]=true class="w-100" />
          </div>
          <div class="col-lg-6">
            <small>Broj računa</small>
            <input pInputText [value]="account?.registrationNumber" readonly [disabled]=true class="w-100"/>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <small>Raspoloživo stanje</small>
            <input pInputText [value]="account?.availableBalance" readonly [disabled]=true class="w-100"/>
          </div>
          <div class="col-lg-6">
            <small>Rezervisana sredstva</small>
            <input pInputText [value]="account?.balance - account?.availableBalance" readonly [disabled]=true class="w-100"/>
          </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
              <small>Stanje računa</small>
              <input pInputText [value]="account?.balance" readonly [disabled]=true class="w-100">
            </div>
          <div class="col-lg-6">
            <small>Tip</small>
            <input  pInputText [value]="account?.type" readonly [disabled]=true class="w-100"/>
          </div>
        </div>

      </div>

  </div>



</p-dialog>
