<div *ngIf="user">
    <div class="center mt-5">
        <h1>Moj profil</h1>
        <span>kruzic</span>
        <span> ime, prezime </span>
    </div>
    <div class="center">
        <h2>Osnovni podaci </h2>
        <p>Ime: {{user.firstName}} </p>
        <p>Prezime </p>
        <p>Broj telefona: </p>
        <p>JMBG:</p>
        <p>Email: </p>
        <div class="right">
            <button> izvrsi promenu</button>
        </div>    
    </div>
    
    
    <!-- <p>Password: </p> -->
    <div class="center">
        <h2>Promena sifre</h2>
        
        <div class="right">
            <span>sifra</span>
            <button>promeni sifru</button>
        </div> 
    </div>
</div>
