<div class="body-container">


  <p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>

  <div class="table-container">


      <!--TABELA ZA ADMIN I SUPERVIZORA  -->
    <p-table *ngIf="getPermission()" #dt [value]="orders" class="p-datatable-header"
             [rowHover]="true" [rows]="6" [showCurrentPageReport]="true"
             [paginator]="true" (onPageChange)="saveCurrentPage($event)" [alwaysShowPaginator]="false"
             currentPageReportTemplate="Prikazani su {first}-{last} od ukupno {totalRecords} hartija"
             [globalFilterFields]="['status']">


      <ng-template pTemplate="caption">

        <div class="table-header row">
          <div class="col-6 text-start table-name">
            <div style="display:flex; align-items: center; gap: 8px;">
              <h3 style="font-weight: bolder" class="mb-1">
                Porudžbine
              </h3>
            </div>
          </div>
          <div class="col-6 text-end">
            <!-- <button (click)="refresh()"
              pButton pRipple styleClass="p-button-sm"
              class="p-button-raised p-button-secondary add-employee-btn-lg"
              label="Refresh" icon="bi bi-arrow-repeat"
              style="max-width: 200px; font-size: 14px; background-color: #3d3d3d;">
            </button>
            <button pButton pRipple styleClass="p-button-sm" style="background-color: #3d3d3d;"
                    class="p-button-raised p-button-secondary add-employee-btn-sm"
                    icon="bi bi-arrow-repeat" (click)="refresh()"></button> -->
          </div>
        </div>
      </ng-template>


      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="orderType" style="font-size: 12px;">
            <div class="flex justify-content-between align-items-center">
              <div class="icon-container">
                <p style="margin-bottom: 0; margin-top: 2px;">Hartija</p>
                <p-sortIcon field="hartija"></p-sortIcon>
              </div>
            </div>
          </th>
          <th pSortableColumn="tradeType" style="font-size: 12px;">
            <div class="flex justify-content-between align-items-center">
              <div class="icon-container">
                <p style="margin-bottom: 0; margin-top: 2px;">Transakcija</p>
                <p-sortIcon field="price"></p-sortIcon>
              </div>
            </div>
          </th>
          <th pSortableColumn="symbol" style="font-size: 12px; ">
            <div class="flex justify-content-between align-items-center">
              <div class="icon-container">
                <p style="margin-bottom: 0; margin-top: 2px;">Simbol</p>
                <p-sortIcon field="volume"></p-sortIcon>
              </div>
            </div>
          </th>
          <th pSortableColumn="amount" style="font-size: 12px; ">
            <div class="flex justify-content-between align-items-center">
              <div class="icon-container">
                <p style="margin-bottom: 0; margin-top: 2px;">Količina</p>
                <p-sortIcon field="change"></p-sortIcon>
              </div>
            </div>
          </th>
          <th pSortableColumn="price" style="font-size: 12px; ">
            <div class="flex justify-content-between align-items-center">
              <div class="icon-container">
                <p style="margin-bottom: 0; margin-top: 2px;">Cena</p>
                <p-sortIcon field="change"></p-sortIcon>
              </div>
            </div>
          </th>
          <th pSortableColumn="status" style="font-size: 12px; ">
            <div class="flex justify-content-between align-items-center">
              <div class="icon-container">
                <p style="margin-bottom: 0; margin-top: 2px;">Status</p>
                <p-sortIcon field="change"></p-sortIcon>

                <p-columnFilter field="status" matchMode="equals" [showMatchModes]="false" [showOperator]="false"
                  [showAddButton]="false" display="menu" class="ml-auto">
                  <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                    <p-dropdown [ngModel]="value" [options]="status" (onChange)="filter($event.value)"
                      placeholder="Izaberi status">
                      <ng-template let-option pTemplate="item">
                        <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                      </ng-template>
                    </p-dropdown>
                  </ng-template>
                </p-columnFilter>
              </div>
            </div>
          </th>

          <th pSortableColumn="lastModified" style="font-size: 12px; ">
            <div class="flex justify-content-between align-items-center">
              <div class="icon-container">
                <p style="margin-bottom: 0; margin-top: 2px;">Poslednje modifikovana</p>
                <p-sortIcon field="lastModified"></p-sortIcon>
              </div>
            </div>
          </th>

          <th *ngIf="getAgentPerm()" style="font-size: 12px; ">
            <div class="flex justify-content-between align-items-center">
              <div class="icon-container">
                <p style="margin-bottom: 0; margin-top: 2px;">Izmena statusa</p>
              </div>
            </div>
          </th>

        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-order>
        <tr style="font-size: 12px;">
          <td>{{order.orderType}}</td>
          <td>{{order.tradeType}}</td>
          <td>{{order.symbol}}</td>
          <td>{{order.amount}}</td>
          <td>{{order.price}}</td>
          <td>{{order.status}}</td>
          <td>{{order.lastModified}}</td>

          <td *ngIf="getAgentPerm()">
            <button *ngIf="order.status === 'NA CEKANJU'" type="button"  (click)="approveTransaction(order.id)"
                    class="btn-i btn-circle" title="Prihvati porudzbinu">
                <span>
                  <i class="bi bi-check" style="font-size: 20px;"></i>
                </span>
              <div class="wave"></div>
            </button>
              <button *ngIf="order.status === 'NA CEKANJU'" type="button"
              class="btn-i btn-circle" (click)="declineTransaction(order.id)" title="Odbij porudzbinu">
                <span>
                <i class="bi bi-x" style="font-size: 20px;"></i>
              </span>
              <div class="wave"></div>
            </button>
          </td>
        </tr>


      </ng-template>

    </p-table>

    <!-- TABELA ZA AGENTA -->
    <p-table *ngIf="!getPermission()" #dt [value]="ordersID" class="p-datatable-header" [rowHover]="true" [rows]="6"
      [showCurrentPageReport]="true" [paginator]="true" [alwaysShowPaginator]="false"
      currentPageReportTemplate="Prikazani su {first}-{last} od ukupno {totalRecords} hartija"
      [globalFilterFields]="['status']">


      <ng-template pTemplate="caption">

        <div class="table-header row">
          <div class="col-6 text-start table-name">
            <div style="display:flex; align-items: center; gap: 8px;">
              <h3 style="font-weight: bolder" class="mb-1">
                Porudžbine
              </h3>
            </div>
          </div>
          <div class="col-6 text-end">
            <!-- <button (click)="refresh()"
   pButton pRipple styleClass="p-button-sm"
   class="p-button-raised p-button-secondary add-employee-btn-lg"
   label="Refresh" icon="bi bi-arrow-repeat"
   style="max-width: 200px; font-size: 14px; background-color: #3d3d3d;">
 </button>
 <button pButton pRipple styleClass="p-button-sm" style="background-color: #3d3d3d;"
         class="p-button-raised p-button-secondary add-employee-btn-sm"
         icon="bi bi-arrow-repeat" (click)="refresh()"></button> -->
          </div>
        </div>
      </ng-template>


      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="orderType" style="font-size: 12px;">
            <div class="flex justify-content-between align-items-center">
              <div class="icon-container">
                <p style="margin-bottom: 0; margin-top: 2px;">Hartija</p>
                <p-sortIcon field="hartija"></p-sortIcon>
              </div>
            </div>
          </th>
          <th pSortableColumn="tradeType" style="font-size: 12px;">
            <div class="flex justify-content-between align-items-center">
              <div class="icon-container">
                <p style="margin-bottom: 0; margin-top: 2px;">Transakcija</p>
                <p-sortIcon field="price"></p-sortIcon>
              </div>
            </div>
          </th>
          <th pSortableColumn="symbol" style="font-size: 12px; ">
            <div class="flex justify-content-between align-items-center">
              <div class="icon-container">
                <p style="margin-bottom: 0; margin-top: 2px;">Simbol</p>
                <p-sortIcon field="volume"></p-sortIcon>
              </div>
            </div>
          </th>
          <th pSortableColumn="amount" style="font-size: 12px; ">
            <div class="flex justify-content-between align-items-center">
              <div class="icon-container">
                <p style="margin-bottom: 0; margin-top: 2px;">Količina</p>
                <p-sortIcon field="change"></p-sortIcon>
              </div>
            </div>
          </th>
          <th pSortableColumn="price" style="font-size: 12px; ">
            <div class="flex justify-content-between align-items-center">
              <div class="icon-container">
                <p style="margin-bottom: 0; margin-top: 2px;">Cena</p>
                <p-sortIcon field="change"></p-sortIcon>
              </div>
            </div>
          </th>
          <th pSortableColumn="status" style="font-size: 12px; ">
            <div class="flex justify-content-between align-items-center">
              <div class="icon-container">
                <p style="margin-bottom: 0; margin-top: 2px;">Status</p>
                <p-sortIcon field="change"></p-sortIcon>

                <p-columnFilter field="status" matchMode="equals" [showMatchModes]="false" [showOperator]="false"
                  [showAddButton]="false" display="menu" class="ml-auto">
                  <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                    <p-dropdown [ngModel]="value" [options]="status" (onChange)="filter($event.value)"
                      placeholder="Izaberi status">
                      <ng-template let-option pTemplate="item">
                        <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                      </ng-template>
                    </p-dropdown>
                  </ng-template>
                </p-columnFilter>
              </div>
            </div>
          </th>

          <th pSortableColumn="lastModified" style="font-size: 12px; ">
            <div class="flex justify-content-between align-items-center">
              <div class="icon-container">
                <p style="margin-bottom: 0; margin-top: 2px;">Poslednje modifikovana</p>
                <p-sortIcon field="lastModified"></p-sortIcon>
              </div>
            </div>
          </th>

          <th style="font-size: 12px; ">
            <div class="flex justify-content-between align-items-center">
              <div class="icon-container">
                <p style="margin-bottom: 0; margin-top: 2px;">Izmena statusa</p>
              </div>
            </div>
          </th>

        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-order>
        <tr class="rowHover" style="font-size: 12px;">
          <td>{{order.orderType}}</td>
          <td>{{order.tradeType}}</td>
          <td>{{order.symbol}}</td>
          <td>{{order.amount}}</td>
          <td>{{order.price}}</td>
          <td>{{order.status}}</td>
          <td>{{order.lastModified}}</td>
          <td>
            <button type="button" (click)="approveTransaction(order.id)" class="btn-i btn-circle"
              title="Dozvoli porudzbinu">
              <span>
                <i class="bi bi-check" style="font-size: 20px;"></i>
              </span>
              <div class="wave"></div>
            </button>
            <button type="button" class="btn-i btn-circle" (click)="declineTransaction(order.id)"
              title="Odbi porudzbinu">
              <span>
                <i class="bi bi-x" style="font-size: 20px;"></i>
              </span>
              <div class="wave"></div>
            </button>
          </td>
        </tr>


      </ng-template>

    </p-table>


  </div>

</div>