<div>
    <p-table [value]="users" class="p-datatable-header"
    [rowHover]="true" [rows]="2" [showCurrentPageReport]="true"
    [paginator]="true" [alwaysShowPaginator]="false"
    currentPageReportTemplate="Prikazani su {first}-{last} od ukupno {totalRecords} korisnika"
    [filterDelay]="10">
        <ng-template pTemplate="caption">
            <div class="table-header">
                Lista korisnika
                <!-- <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text"  placeholder="Global Search" />
                </span>  -->
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id" style="min-width: 5rem">
                    <div class="flex justify-content-between align-items-center">
                        ID
                        <p-sortIcon field="id"></p-sortIcon>
                        <!-- <p-columnFilter type="numeric" field="id" display="menu" class="ml-auto"></p-columnFilter> -->
                    </div>
                </th>
                <th pSortableColumn="email" style="min-width: 10rem">
                    <div class="flex justify-content-between align-items-center">
                        Email
                        <!-- <p-columnFilter type="text" field="email" display="menu" class="ml-auto"></p-columnFilter> -->
                    </div>
                </th>
                <th style="min-width: 10rem">
                    <div class="flex justify-content-between align-items-center">
                        Ime i prezime
                    </div>
                </th>
                <th style="min-width: 10rem">
                    <div class="flex justify-content-between align-items-center">
                        JMBG
                    </div>
                </th>
                <th style="min-width: 7rem">
                    <div class="flex justify-content-between align-items-center">
                        Pozicija
                    </div>
                </th>
                <th style="min-width: 10rem">
                    <div class="flex justify-content-between align-items-center">
                        Broj telefona
                    </div>
                </th>
                <th style="min-width: 2rem">
                    <div class="flex justify-content-between align-items-center">
                        Aktivan
                    </div>
                </th>
                <th style="min-width: 12rem">
                    <div class="flex justify-content-between align-items-center">
                        Ostale opcije
                    </div>
                </th>


                <!-- <th>ID</th> -->
                <!-- <th>Email</th> -->
                <!-- <th>Ime i prezime</th> -->
                <!-- <th>JMBG</th> -->
                <!-- <th>Pozicija</th> -->
                <!-- <th>Broj telefona</th> -->
                <!-- <th>Aktivan</th> -->
                <!-- <th>Ostale opcije</th> -->
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.email}}</td>
                <td>{{user.first_name }} {{user.last_name}}</td>
                <!-- <td>{{user.last_name}}</td> -->
                <td>{{user.jmbg}}</td>
                <td>{{user.pozicija}}</td>
                <td>{{user.broj_telefona}}</td>
                <!-- <td>{{user.aktivan}}</td> -->
                <td>
                    <span class="p-column-title">Status</span>
                    <span>{{user.aktivan | activityPipe}}</span>
                    <!-- <span [class]='customer-badge status-unqualified'>{{user.aktivan}}</span> -->
                </td>
                <td>
                    <!-- <p-button label="Izmeni" class="buttonPadding"></p-button> -->
                    <button (click)="toggleDialog(user.id)" pButton pRipple type="button" label="Izmeni" class="p-button-secondary p-button-text"></button>
                    <button (click)="deactivateUser(user.id)" *ngIf="user.aktivan === 1" pButton pRipple type="button" label="Deaktiviraj" class="p-button-danger p-button-text"></button>
                    <button (click)="activateUser(user.id)" *ngIf="user.aktivan === 2" pButton pRipple type="button" label="Aktiviraj" class="p-button-success p-button-text"></button>
                </td>
            </tr>
        </ng-template>
        <!-- <ng-template let-item pTemplate="paginatordropdownitem">
            {{item.value}} - per page asas
        </ng-template> -->
    </p-table>
</div>


<p-dialog class="edit-dialog" [style]="{width: '30vw'}" [breakpoints]="{'1280px': '75vw'}"
          header="Izmena korisnika" [(visible)]="displayDialog" [modal]="true">

  <div class="edit-user-form">
    <form class="edit-user-form pt-4 pb-4 gap-4">
      <span class="p-float-label">
        <input id="name-input" class="w-100" type="text" pInputText>
        <label for="name-input">Ime</label>
      </span>
      <span class="p-float-label">
        <input id="surname-input" class="w-100" type="text" pInputText>
        <label for="surname-input">Prezime</label>
      </span>
      <span class="p-float-label">
        <input id="email-input" class="w-100" type="email" pInputText>
        <label for="email-input">Email</label>
      </span>
      <span class="p-float-label">
        <input id="phone-input" class="w-100" type="text" pInputText>
        <label for="phone-input">Broj telefona</label>
      </span>
      <span class="p-float-label">
        <input id="jmbg-input" class="w-100" type="text" pInputText>
        <label for="jmbg-input">JMBG</label>
      </span>
      <span class="p-float-label">
        <input id="limit-input" class="w-100" type="text" pInputText>
        <label for="limit-input">Limit</label>
      </span>
      <div class="row mb-5">
        <div class="col-6 text-start">
          <p-dropdown optionLabel="position" placeholder="Pozicija"></p-dropdown>
        </div>
        <div class="col-6 text-end">
          <p-checkbox class="me-2" [binary]="true" inputId="binary"></p-checkbox>
          <small>Zahtevati odobravanje svake porudžbine</small>
        </div>
      </div>
    </form>
  </div>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Izmeni" class="w-100" (click)="updateUser()"></button>
  </ng-template>
</p-dialog>
