.chart-container {
  padding: 0 20px;
  flex-basis: 70%;
}

.top-section {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.basic-info-container {
  flex-basis: 30%;
}

::ng-deep .p-datatable {
  border-top: 1px solid #E2E6E9;
}

