<p-dialog [style]="{width: '50vw'}" [breakpoints]="{'1280px': '75vw'}" [draggable]="false"
          [(visible)]="displayDetails" *ngIf="displayDetails" [modal]="true">
  <p-header pStyleClass="dialog-header">

    <!--    TODO: dohvati website URL sa yahoo finance, i onda bind-ovati taj URL dole na sliku-->

    <div class="title-container">
      <div class="img-container">
        <img class="logo" src="https://logo.clearbit.com/https://www.ruby-lang.org/"/>
      </div>
      <div>
        <h2 style="font-weight: bolder" class="mb-1">{{stock.ticker}}</h2>
        <p class="mt-0" style="font-weight: lighter; font-size: large">{{stock.name}}</p>
      </div>
    </div>
  </p-header>
  <p-divider/>
  <div class="basic-info-container mb-4">
    <div style="flex-basis: 90%">
      <small>Price</small>
      <h3 style="font-weight: 800">${{stock.price}}</h3>
    </div>
    <div>
      <small>High</small>
      <h3 style="font-weight: 800">$105</h3>
    </div>
    <div>
      <div class="divider-container">
        <!-- content here -->
      </div>
    </div>
    <div>
      <small>Low</small>
      <h3 style="font-weight: 800">$97</h3>
    </div>
  </div>
  <div class="information-container">
    <div class="chart-container text-center" >
      <p-selectButton (ngModelChange)="updateChart()" [options]="periodOptions" [(ngModel)]="selectedPeriodOption" optionLabel="period">
        <ng-template class="mb-5" let-item>
          <small>{{item.period}}</small>
        </ng-template>
      </p-selectButton>
      <p-chart height="300px" [responsive]="true" type="line" [data]="basicData" [options]="basicOptions"></p-chart>
    </div>
  </div>
  <div class="details-container">



    <!--    HARDKODOVANI PODACI, TREBA UBACITI PRAVE!-->

    <div class="row mb-3">
      <div class="col-lg-3 col-sm-6 text-center">
        <small>Change</small>
        <p>${{stock.change}}</p>
      </div>
      <div class="col-lg-3 col-sm-6 text-center">
        <small>Day Range</small>
        <p>$154.28 - $156.74</p>
      </div>
      <div class="col-lg-3 col-sm-6 text-center">
        <small>Open</small>
        <p>$156.08</p>
      </div>
      <div class="col-lg-3 col-sm-6 text-center">
        <small>Price Volume</small>
        <p>15.3b</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6 text-center">
        <small>Volume</small>
        <p>98.9m</p>
      </div>
      <div class="col-lg-3 col-sm-6 text-center">
        <small>Outstanding Shares</small>
        <p>15.8b</p>
      </div>
      <div class="col-lg-3 col-sm-6 text-center">
        <small>Previous Close</small>
        <p>$155.85</p>
      </div>
      <div class="col-lg-3 col-sm-6 text-center">
        <small>Market Cap</small>
        <p>2.5t</p>
      </div>
    </div>


  </div>

</p-dialog>

