.chart-container {
  padding: 20px;
}

:host ::ng-deep .chart {
  height: 300px;
}

.top-section {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.basic-info-container {
  display: flex;
  flex-direction: row;
}

.logo {
  width: 80%;
  aspect-ratio: 3/2;
  object-fit: contain;
  /*mix-blend-mode: multiply;*/
}

::ng-deep .p-datatable {
  /*border-top: 1px solid #E2E6E9;*/
}

.title-container {
  display: flex;
  align-content: center;
}

.img-container {
  float: left;
}

::ng-deep .p-selectbutton .p-button.p-highlight {
  background: #7768AE;
  border-color: #7768AE;
  color: #ffffff;
}

::ng-deep .p-buttonset {
  margin-bottom: 24px;
}

::ng-deep .p-selectbutton .p-button.p-highlight:hover {
  background: #594a98;
  border-color: #594a98;
  color: #ffffff;
}

td {
  width: 50%;
}

::ng-deep .your-table .ui-datatable-scrollable-view .ui-datatable-scrollable-body {
  height: 100px;
}

.information-container, .details-container {
  padding: 20px;
  border: 1px solid #E5E8EC;
  border-radius: 10px;
}

.information-container {
  margin-bottom: 16px;
}

::ng-deep .p-dialog .p-dialog-header {
  padding-bottom: 0;
}

.divider-container::after {
  content: "";
  display: inline-block;
  border-left: 1px solid #DFE3E7;
  height: 95%;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
}

.divider-container {
  height: 100%;
  margin: 0 14px;
}

.details-container > div > div > p {
  font-weight: 700;
  font-size: larger;
}


.p-chart {
  width: 100px;
}



@media only screen and (max-width: 600px) {

  ::ng-deep .p-buttonset > .p-button.p-highlight {
    max-width: 30px;
    justify-content: center;
  }

  ::ng-deep .p-buttonset > .p-button {
    max-width: 30px;
    justify-content: center;
  }
}

@media only screen and (max-width: 420px) {

  ::ng-deep .p-buttonset > .p-button.p-highlight {
    max-width: 10px;
    max-height: 15px;
    justify-content: center;
  }

  ::ng-deep .p-buttonset > .p-button {
    max-width: 10px;
    max-height: 15px;
    justify-content: center;
  }
}

.activity-indicator-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  height: 30px;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  width: fit-content;
  margin: 8px auto;
}

.activity-indicator {
  margin-right: 8px;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  display: inline-block;
}

.green-indicator {
  background-color: #22b55d;
}

.red-indicator {
  background-color: #e6393f;
}








