<p-dialog class="edit-dialog" [style]="{width: '30vw'}" [breakpoints]="{'1280px': '75vw'}"
          header="Izmeni korisnika" [(visible)]="visible" [modal]="true" (onHide)="close()">

  <div class="edit-user-form">
    <form [formGroup]="editUserForm" (submit)="editUser()" class="edit-user-form pt-4 pb-4 gap-4">
      <span class="p-float-label">
        <input [formControlName]="'firstName'" id="name-input" class="w-100" type="text" pInputText>
        <label for="name-input">Ime</label>
      </span>
      <span class="p-float-label">
        <input [formControlName]="'lastName'" id="surname-input" class="w-100" type="text" pInputText>
        <label for="surname-input">Prezime</label>
      </span>
      <span class="p-float-label">
        <input [formControlName]="'email'" id="email-input" class="w-100" type="email" pInputText>
        <label for="email-input">Email</label>
      </span>
      <span class="p-float-label">
        <input [formControlName]="'phone'" id="phone-input" class="w-100" type="text" pInputText>
        <label for="phone-input">Broj telefona</label>
      </span>
      <span class="p-float-label">
        <input [formControlName]="'limit'" id="limit-input" class="w-100" type="text" pInputText>
        <label for="limit-input">Limit</label>
      </span>
      <div class="row mb-5">
        <div class="col-6 text-start">
          <p-dropdown [options]="jobs" [formControlName]="'selectedJob'" [(ngModel)]="selectedJob" optionLabel="name" placeholder="Pozicija"></p-dropdown>
        </div>
        <!-- <div class="col-6 text-end">
          <p-multiSelect [options]="permissions" [(ngModel)]="selectedPermissions" display="chip" defaultLabel="Odaberi permisije" optionLabel="permissionName" selectedItemsLabel="{0} items selected"></p-multiSelect>
        </div> -->


        <div class="col-6 text-end">
          <p-checkbox [formControlName]="'active'" class="me-2" [binary]="true" inputId="binary"></p-checkbox>
          <small>Aktivan</small>
        </div>
      </div>
      <!-- <ng-template pTemplate="footer"> -->
      <button type="submit" pButton pRipple label="Izmeni" [disabled]="!isFormValid" class="w-100"></button>
      <!-- </ng-template> -->

    </form>
  </div>
</p-dialog>

